body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Comic Sans MS', sans-serif;
  overflow: hidden;
  
}

.start{
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url('../assets/start/4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.startPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.game-logo {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 350px; 
  height: auto;
}

.start-text {
  font-family: "Tiny5", sans-serif;
  font-size:  6rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 123, 0);
  text-shadow: 4px 4px 4px #000000;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.start-button {
  background-color: #ff696900;
  border: none;
  object-fit: contain;
}

.start-game {
  text-decoration: none; /* Remove the underline */
}

.start-button:hover {
  transform: scale(1.1);
}

.start-button:active {
  transform: scale(1);
}
